#visual{
    &.implant_4{
        .lnb{
            .inner{
                >.list{
                    p{
                        margin-right: 40px;
                        &.on{
                            &::after{
                                width: 120px;
                                transform: translate(-2px, 27px);
                            }
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    
}


#contents{
    position: relative;
    &.implant_4{
        overflow: hidden;
        .implant_info{
            width: 100%;
            padding: 100px 0;
            >.inner{
                width: 1200px;
                margin: 0 auto;


                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }

                >.mImg{
                    width: 60%;
                    float: left;
                    >img{
                        width: 100%;
                        object-fit: cover;
                        box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                    }
                }

                .conWrap{
                    width: 33%;
                    float: right;
                    padding: 120px 0;
                    h2{
                        font: 600 18px/1 'suit';
                        color: #b08668;
                        margin-bottom: 20px;
                    }
                    >h3{
                        font: 200 56px/1 'suit';
                        color: #000;
                        margin-bottom: 40px;
                        >span{
                            font-weight: 700;
                        }

                        &::after{
                            content: '';
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: #c5a58d;
                        }
                    }
                    >p{
                        font: 400 18px/1.5 'suit';
                        color: #333;
                        padding-right: 50px;
                        >span{
                            display: block;
                            margin-top: 35px;
                            font: 400 18px/1 'suit';
                            color: #bf9b81;
                        }
                    }
                }
            }
        }

        .process1{
            width: 100%;
            padding: 50px 0;
            background-color: #fbf8f5;
            .inner{
                width: 1200px;
                margin: 0 auto;
                >h1{
                    font: 200 30px/1 'suit';
                    color: #000;
                    margin-bottom: 95px;
                    >span{
                        font-weight: 600;
                    }
                }
                .articleWrap{
                    width: 100%;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >article{
                        width: 25%;
                        float: left;
                        h2{
                            font: 600 20px/1 'suit';
                            color: #bf9b81;
                            margin-bottom: 30px;
                        }
                        >div{
                            width: 100%;
                            height: 1px;
                            background-color: hsla(25, 33%, 63%, 0.2);
                            position: relative;
                            margin-bottom: 40px;

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #bf9b81;
                                position: absolute;
                                top: -4px;
                            }
                        }

                        >h3{
                            font: 600 26px/1 'suit';
                            color: #111;
                            margin-bottom: 30px;
                        }
                        p{
                            font: 400 16px/1.5 'suit';
                            color: #333;
                        }

                    }
                }
            }
        }
        .process2{
            width: 100%;
            padding: 50px 0;
            .inner{
                width: 1200px;
                margin: 0 auto;
                padding-bottom: 100px;
                >h1{
                    font: 200 30px/1 'suit';
                    color: #000;
                    margin-bottom: 95px;
                    >span{
                        font-weight: 600;
                    }
                }
                .articleWrap{
                    width: 100%;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >article{
                        width: 25%;
                        float: left;
                        h2{
                            font: 600 20px/1 'suit';
                            color: #bf9b81;
                            margin-bottom: 30px;
                        }
                        >div{
                            width: 100%;
                            height: 1px;
                            background-color: hsla(25, 33%, 63%, 0.2);
                            position: relative;
                            margin-bottom: 40px;

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #bf9b81;
                                position: absolute;
                                top: -4px;
                            }
                        }

                        >h3{
                            font: 600 26px/1 'suit';
                            color: #111;
                            margin-bottom: 30px;
                        }
                        p{
                            font: 400 16px/1.5 'suit';
                            color: #333;
                        }

                    }
                }
            }
        }
    }
}



@media all and (max-width:1200px) {
        
    #contents{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        &.implant_4{
            overflow: hidden;
            .implant_info{
                width: 100%;
                padding: 100px 50px;
                >.inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 60%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 33%;
                        float: right;
                        padding: 60px 0;
                        h2{
                            font: 600 18px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 48px/1 'suit';
                            color: #000;
                            margin-bottom: 40px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                            }
                        }
                        >p{
                            font: 400 18px/1.5 'suit';
                            color: #333;
                            padding-right: 0;
                            >span{
                                display: block;
                                margin-top: 35px;
                                font: 400 18px/1 'suit';
                                color: #bf9b81;
                            }
                        }
                    }
                }
            }
            .process1{
                width: 100%;
                padding: 50px;
                background-color: #fbf8f5;
                .inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 ;
                    >h1{
                        font: 200 30px/1 'suit';
                        color: #000;
                        margin-bottom: 95px;
                        >span{
                            font-weight: 600;
                        }
                    }
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
    
                        >article{
                            width: 25%;
                            float: left;
                            h2{
                                font: 600 20px/1 'suit';
                                color: #bf9b81;
                                margin-bottom: 30px;
                            }
                            >div{
                                width: 100%;
                                height: 1px;
                                background-color: hsla(25, 33%, 63%, 0.2);
                                position: relative;
                                margin-bottom: 40px;
    
                                &::after{
                                    content: '';
                                    display: inline-block;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #bf9b81;
                                    position: absolute;
                                    top: -4px;
                                }
                            }
    
                            >h3{
                                font: 600 24px/1 'suit';
                                color: #111;
                                margin-bottom: 30px;
                            }
                            p{
                                font: 400 14px/1.5 'suit';
                                color: #333;
                            }
    
                        }
                    }
                }
            }
            .process2{
                width: 100%;
                padding: 50px;
                .inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                    padding-bottom: 50px;

                    >h1{
                        font: 200 30px/1 'suit';
                        color: #000;
                        margin-bottom: 95px;
                        >span{
                            font-weight: 600;
                        }
                    }
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
    
                        >article{
                            width: 25%;
                            float: left;
                            h2{
                                font: 600 20px/1 'suit';
                                color: #bf9b81;
                                margin-bottom: 30px;
                            }
                            >div{
                                width: 100%;
                                height: 1px;
                                background-color: hsla(25, 33%, 63%, 0.2);
                                position: relative;
                                margin-bottom: 40px;
    
                                &::after{
                                    content: '';
                                    display: inline-block;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #bf9b81;
                                    position: absolute;
                                    top: -4px;
                                }
                            }
    
                            >h3{
                                font: 600 24px/1 'suit';
                                color: #111;
                                margin-bottom: 30px;
                            }
                            p{
                                font: 400 14px/1.5 'suit';
                                color: #333;
                            }
    
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:1024px) {
        
    #contents{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        &.implant_4{
            overflow: hidden;
            .implant_info{
                width: 100%;
                padding: 50px;
                padding-top: 0;

                >.inner{
                    width: 100%;
                    margin: 0 auto;


                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 60%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 33%;
                        float: right;
                        padding: 0;
                        h2{
                            font: 600 14px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 34px/1 'suit';
                            color: #000;
                            margin-bottom: 20px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                            }
                        }
                        >p{
                            font: 300 16px/1.7 'suit';
                            color: #333;
                            >span{
                                display: block;
                                margin-top: 20px;
                                font: 400 16px/1.5 'suit';
                                color: #bf9b81;
                            }
                        }
                    }
                }
            }
            .process1{
                width: 100%;
                padding: 50px;
                background-color: #fbf8f5;
                .inner{
                    width: 100%;
                    margin: 0 auto;
                    >h1{
                        font: 200 24px/1 'suit';
                        color: #000;
                        margin-bottom: 50px;
                        >span{
                            font-weight: 600;
                        }
                    }
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
    
                        >article{
                            width: 50%;
                            float: left;
                            h2{
                                font: 600 20px/1 'suit';
                                color: #bf9b81;
                                margin-bottom: 30px;
                            }
                            >div{
                                width: 100%;
                                height: 1px;
                                background-color: hsla(25, 33%, 63%, 0.2);
                                position: relative;
                                margin-bottom: 40px;
    
                                &::after{
                                    content: '';
                                    display: inline-block;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #bf9b81;
                                    position: absolute;
                                    top: -4px;
                                }
                            }
    
                            >h3{
                                font: 600 20px/1 'suit';
                                color: #111;
                                margin-bottom: 20px;
                            }
                            p{
                                font: 400 14px/1.5 'suit';
                                color: #333;
                            }
                            &:nth-of-type(3), &:nth-of-type(4){
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
            .process2{
                width: 100%;
                padding: 50px;
                .inner{
                    width: 100%;
                    margin: 0 auto;
                    padding-bottom: 50px;
                    >h1{
                        font: 200 24px/1 'suit';
                        color: #000;
                        margin-bottom: 50px;
                        >span{
                            font-weight: 600;
                        }
                    }
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
    
                        >article{
                            width: 50%;
                            float: left;
                            h2{
                                font: 600 20px/1 'suit';
                                color: #bf9b81;
                                margin-bottom: 30px;
                            }
                            >div{
                                width: 100%;
                                height: 1px;
                                background-color: hsla(25, 33%, 63%, 0.2);
                                position: relative;
                                margin-bottom: 40px;
    
                                &::after{
                                    content: '';
                                    display: inline-block;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #bf9b81;
                                    position: absolute;
                                    top: -4px;
                                }
                            }
    
                            >h3{
                                font: 600 20px/1 'suit';
                                color: #111;
                                margin-bottom: 20px;
                            }
                            p{
                                font: 400 14px/1.5 'suit';
                                color: #333;
                            }
                            &:nth-of-type(3), &:nth-of-type(4){
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:764px) {
    #contents{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        &.implant_4{
            overflow: hidden;
            .implant_info{
                width: 100%;
                padding: 50px;
                padding-top: 0;

                >.inner{
                    width: 100%;
                    margin: 0 auto;


                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 100%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 100%;
                        float: right;
                        padding: 0;
                        padding-top: 50px;
                        h2{
                            font: 600 14px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 35px/1 'suit';
                            color: #000;
                            margin-bottom: 20px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                                margin-left: 10px;
                            }
                        }
                        >p{
                            font: 300 16px/1.7 'suit';
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:479px) {
    #contents{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        &.implant_4{
            overflow: hidden;
            .implant_info{
                width: 100%;
                padding: 30px;
                padding-top: 0;

                >.inner{
                    width: 100%;
                    margin: 0 auto;


                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 100%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 100%;
                        float: right;
                        padding: 0;
                        padding-top: 50px;
                        h2{
                            font: 600 14px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 35px/1 'suit';
                            color: #000;
                            margin-bottom: 20px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                            }
                        }
                        >p{
                            font: 300 16px/1.7 'suit';
                            color: #333;
                        }
                    }
                }
            }
            .process1{
                width: 100%;
                padding:50px 30px;
                background-color: #fbf8f5;
                .inner{
                    width: 100%;
                    margin: 0 auto;
                    >h1{
                        font: 200 22px/1.5 'suit';
                        color: #000;
                        margin-bottom: 50px;
                        >span{
                            font-weight: 600;
                            display: block;
                        }
                    }
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
    
                        >article{
                            width: 100%;
                            float: left;
                            h2{
                                font: 600 20px/1 'suit';
                                color: #bf9b81;
                                margin-bottom: 30px;
                            }
                            >div{
                                display: none;
                            }
    
                            >h3{
                                font: 600 20px/1 'suit';
                                color: #111;
                                margin-bottom: 20px;
                            }
                            p{
                                font: 400 14px/1.5 'suit';
                                color: #333;
                            }
                            &:nth-of-type(2),&:nth-of-type(3), &:nth-of-type(4){
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
            .process2{
                width: 100%;
                padding: 50px 30px;
                .inner{
                    width: 100%;
                    margin: 0 auto;
                    >h1{
                        font: 200 22px/1.5 'suit';
                        color: #000;
                        margin-bottom: 50px;
                        >span{
                            font-weight: 600;
                            display: block;
                        }
                    }
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
    
                        >article{
                            width: 100%;
                            float: left;
                            h2{
                                font: 600 20px/1 'suit';
                                color: #bf9b81;
                                margin-bottom: 30px;
                            }
                            >div{
                                display: none;
                            }
    
                            >h3{
                                font: 600 20px/1 'suit';
                                color: #111;
                                margin-bottom: 20px;
                            }
                            p{
                                font: 400 14px/1.5 'suit';
                                color: #333;
                            }
                            &:nth-of-type(2),&:nth-of-type(3), &:nth-of-type(4){
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}