#visual{
    &.normal_4{
        .lnb{
            .inner{
                >.list{
                    p{
                        margin-right: 40px;
                        &.on{
                            &::after{
                                width: 100px;
                                transform: translate(-6px, 27px);
                            }
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    
}


#contents{
    position: relative;
    &.normal_4{
        overflow: hidden;
        padding-top: 100px;
        .normal_info{
            width: 100%;
            padding-bottom: 100px;
            >.inner{
                width: 1200px;
                margin: 0 auto;


                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }

                >.mImg{
                    width: 60%;
                    float: left;
                    >img{
                        width: 100%;
                        object-fit: inherit;
                        box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                    }
                }

                .conWrap{
                    width: 33%;
                    float: right;
                    padding: 100px 0;
                    h2{
                        font: 600 18px/1 'suit';
                        color: #b08668;
                        margin-bottom: 20px;
                    }
                    >h3{
                        font: 200 56px/1 'suit';
                        color: #000;
                        margin-bottom: 40px;
                        >span{
                            font-weight: 700;
                        }

                        &::after{
                            content: '';
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: #c5a58d;
                            margin-left: 10px;
                        }
                    }
                    >p{
                        font: 400 18px/1.5 'suit';
                        color: #333;
                        >span{
                            display: block;
                            margin-top: 35px;
                            font: 400 18px/1 'suit';
                            color: #bf9b81;
                        }
                    }
                }
            }
        }
        .cycle{
            width: 100%;
            padding: 100px 0;
            background-color: #fbf8f5;

            .inner{
                width: 1200px;
                margin: 0 auto;
                >h3{
                    font: 300 40px/1 'suit';
                    color: #000;
                    margin-bottom:60px;
                    >span{
                        font-weight: 600;
                    }
    
                    &::after{
                        content: '';
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #c5a58d;
                        margin-left: 10px;
                    }
                }
    
                .articleWrap{
                    width: 100%;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    >article{
                        width: 25%;
                        float: left;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        .circle{
                            width: 230px;
                            height: 230px;
                            border-radius: 50%;
                            position: relative;
                            margin-bottom: 30px;
                            cursor: pointer;
    
                            >img{
                                width: 100%;
                                object-fit: cover;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                            .bg{
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-radius: 50%;
                                background: rgba(0,0,0,0.6);
                                transition: .3s;
                            }
                            >h4{
                                width: 100%;
                                font: 600 22px/1.5 'suit';
                                color: #fff;
                                text-align: center;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
    
                            &:hover{
                                .bg{
                                    background: rgba(0,0,0,0.3);
                                }
                            }
                        }
    
                    }
                }

                .not{
                    width: 100%;
                    height: 60px;
                    background-color: #f5efe9;
                    margin-top: 30px;

                    .txtWrap{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >img{
                            width: auto;
                            object-fit: cover;
                        }
                        >p{
                            font: 400 18px/60px 'suit';
                            color: #333;
                            margin-left: 10px;
                            >span{
                                color: #bf9b81;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            
        }
    }
}



@media all and (max-width:1200px) {
    
    #contents{
        position: relative;
        &.normal_4{
            overflow: hidden;
            padding-top: 100px;
            .normal_info{
                width: 100%;
                padding-bottom: 100px;
                >.inner{
                    width: 100%;
                    margin: 0 auto;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 60%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 33%;
                        float: right;
                        padding: 50px 0;
                        h2{
                            font: 600 18px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 50px/1 'suit';
                            color: #000;
                            margin-bottom: 40px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                                margin-left: 10px;
                            }
                        }
                        >p{
                            font: 400 18px/1.5 'suit';
                            color: #333;
                            >span{
                                display: block;
                                margin-top: 35px;
                                font: 400 18px/1 'suit';
                                color: #bf9b81;
                            }
                        }
                    }
                }
            }
            .cycle{
                width: 100%;
                padding: 100px 0;
                background-color: #fbf8f5;

                .inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 50px;
                    >h3{
                        font: 300 35px/1 'suit';
                        color: #000;
                        margin-bottom:60px;
                        >span{
                            font-weight: 600;
                        }
        
                        &::after{
                            content: '';
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #c5a58d;
                            margin-left: 10px;
                        }
                    }
        
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        >article{
                            width: 25%;
                            float: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
        
                            .circle{
                                width: 200px;
                                height: 200px;
                                border-radius: 50%;
                                position: relative;
                                margin-bottom: 30px;
                                cursor: pointer;
        
                                >img{
                                    width: 100%;
                                    object-fit: cover;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                                .bg{
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    border-radius: 50%;
                                    background: rgba(0,0,0,0.6);
                                    transition: .3s;
                                }
                                >h4{
                                    width: 100%;
                                    font: 600 22px/1.5 'suit';
                                    color: #fff;
                                    text-align: center;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                }
        
                                &:hover{
                                    .bg{
                                        background: rgba(0,0,0,0.3);
                                    }
                                }
                            }
        
                        }
                    }

                    .not{
                        width: 100%;
                        height: 60px;
                        background-color: #f5efe9;
                        margin-top: 30px;

                        .txtWrap{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            >img{
                                width: auto;
                                object-fit: cover;
                            }
                            >p{
                                font: 400 18px/60px 'suit';
                                color: #333;
                                margin-left: 10px;
                                >span{
                                    color: #bf9b81;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}

@media all and (max-width:1024px) {
    #contents{
        position: relative;
        &.normal_4{
            overflow: hidden;
            padding-top: 100px;
            .normal_info{
                width: 100%;
                padding-bottom: 50px;
                >.inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 50px;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 100%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 100%;
                        float: right;
                        padding: 50px 0;
                        h2{
                            font: 600 18px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 50px/1 'suit';
                            color: #000;
                            margin-bottom: 20px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                                margin-left: 10px;
                            }
                        }
                        >p{
                            font: 400 18px/1.5 'suit';
                            color: #333;
                            >span{
                                display: block;
                                margin-top: 35px;
                                font: 400 18px/1 'suit';
                                color: #bf9b81;
                            }
                        }
                    }
                }
            }
            .cycle{
                width: 100%;
                padding: 100px 0;
                background-color: #fbf8f5;

                .inner{
                    width: 100%;
                    margin: 0 auto;
                    >h3{
                        font: 300 30px/1 'suit';
                        color: #000;
                        margin-bottom:60px;
                        >span{
                            font-weight: 600;
                        }
        
                        &::after{
                            content: '';
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #c5a58d;
                            margin-left: 10px;
                        }
                    }
        
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        >article{
                            width: 25%;
                            float: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
        
                            .circle{
                                width: 150px;
                                height: 150px;
                                border-radius: 50%;
                                position: relative;
                                margin-bottom: 30px;
                                cursor: pointer;
        
                                >img{
                                    width: 100%;
                                    object-fit: cover;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                                .bg{
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    border-radius: 50%;
                                    background: rgba(0,0,0,0.6);
                                    transition: .3s;
                                }
                                >h4{
                                    width: 100%;
                                    font: 600 16px/1.5 'suit';
                                    color: #fff;
                                    text-align: center;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                }
        
                                &:hover{
                                    .bg{
                                        background: rgba(0,0,0,0.3);
                                    }
                                }
                            }
        
                        }
                    }

                    .not{
                        width: 100%;
                        height: 60px;
                        background-color: #f5efe9;
                        margin-top: 30px;

                        .txtWrap{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            >img{
                                width: auto;
                                object-fit: cover;
                            }
                            >p{
                                font: 400 16px/60px 'suit';
                                color: #333;
                                margin-left: 10px;
                                >span{
                                    color: #bf9b81;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}

@media all and (max-width:764px) {

    #contents{
        position: relative;
        &.normal_4{
            overflow: hidden;
            padding-top: 100px;
            .normal_info{
                width: 100%;
                padding-bottom: 50px;
                >.inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 30px;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 100%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 100%;
                        float: right;
                        padding: 50px 0;
                        h2{
                            font: 600 18px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 40px/1 'suit';
                            color: #000;
                            margin-bottom: 20px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                                margin-left: 10px;
                            }
                        }
                        >p{
                            font: 400 18px/1.5 'suit';
                            color: #333;
                            >span{
                                display: block;
                                margin-top: 35px;
                                font: 300 18px/1 'suit';
                                color: #bf9b81;
                            }
                        }
                    }
                }
            }
            .cycle{
                width: 100%;
                padding: 100px 0;
                background-color: #fbf8f5;

                .inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 30px;
                    >h3{
                        font: 300 30px/1 'suit';
                        color: #000;
                        margin-bottom:60px;
                        >span{
                            font-weight: 600;
                        }
        
                        &::after{
                            content: '';
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #c5a58d;
                            margin-left: 10px;
                        }
                    }
        
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        >article{
                            width: 50%;
                            float: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
        
                            .circle{
                                width: 200px;
                                height: 200px;
                                border-radius: 50%;
                                position: relative;
                                margin-bottom: 30px;
                                cursor: pointer;
        
                                >img{
                                    width: 100%;
                                    object-fit: cover;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                                .bg{
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    border-radius: 50%;
                                    background: rgba(0,0,0,0.6);
                                    transition: .3s;
                                }
                                >h4{
                                    width: 100%;
                                    font: 600 16px/1.5 'suit';
                                    color: #fff;
                                    text-align: center;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                }
        
                                &:hover{
                                    .bg{
                                        background: rgba(0,0,0,0.3);
                                    }
                                }
                            }
        
                        }
                    }

                    .not{
                        width: 100%;
                        height: 60px;
                        background-color: #f5efe9;
                        margin-top: 30px;

                        .txtWrap{
                            display: block;
                            justify-content: center;
                            align-items: center;

                            >img{
                                width: auto;
                                object-fit: cover;
                                display: none;
                            }
                            >p{
                                font: 400 14px/60px 'suit';
                                color: #333;
                                margin-left: 10px;
                                text-align: center;
                                >span{
                                    color: #bf9b81;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}

@media all and (max-width:479px) {
    #contents{
        position: relative;
        &.normal_4{
            overflow: hidden;
            padding-top: 50px;
            .normal_info{
                width: 100%;
                padding-bottom: 0;
                >.inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 30px;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    >.mImg{
                        width: 100%;
                        float: left;
                        >img{
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 20px 8px 40px rgba(0,0,0,0.1);
                        }
                    }

                    .conWrap{
                        width: 100%;
                        float: right;
                        padding: 50px 0;
                        h2{
                            font: 600 18px/1 'suit';
                            color: #b08668;
                            margin-bottom: 20px;
                        }
                        >h3{
                            font: 200 35px/1 'suit';
                            color: #000;
                            margin-bottom: 20px;
                            >span{
                                font-weight: 700;
                            }

                            &::after{
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #c5a58d;
                                margin-left: 10px;
                            }
                        }
                        >p{
                            font: 400 18px/1.5 'suit';
                            color: #333;
                            >span{
                                display: block;
                                margin-top: 35px;
                                font: 300 18px/1 'suit';
                                color: #bf9b81;
                            }
                        }
                    }
                }
            }
            .cycle{
                width: 100%;
                padding: 50px 0;
                background-color: #fbf8f5;

                .inner{
                    width: 100%;
                    margin: 0 auto;
                    padding: 0 30px;
                    >h3{
                        font: 300 24px/1 'suit';
                        color: #000;
                        margin-bottom:30px;
                        >span{
                            font-weight: 600;
                        }
        
                        &::after{
                            content: '';
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #c5a58d;
                            margin-left: 10px;
                        }
                    }
        
                    .articleWrap{
                        width: 100%;
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        >article{
                            width: 50%;
                            float: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
        
                            .circle{
                                width: 150px;
                                height: 150px;
                                border-radius: 50%;
                                position: relative;
                                margin-bottom: 30px;
                                cursor: pointer;
        
                                >img{
                                    width: 100%;
                                    object-fit: cover;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                                .bg{
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    border-radius: 50%;
                                    background: rgba(0,0,0,0.6);
                                    transition: .3s;
                                }
                                >h4{
                                    width: 100%;
                                    font: 600 16px/1.5 'suit';
                                    color: #fff;
                                    text-align: center;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                }
        
                                &:hover{
                                    .bg{
                                        background: rgba(0,0,0,0.3);
                                    }
                                }
                            }
        
                        }
                    }

                    .not{
                        width: 100%;
                        height: auto;
                        background-color: #f5efe9;
                        margin-top: 0px;
                        padding: 20px;

                        .txtWrap{
                            display: block;
                            justify-content: center;
                            align-items: center;

                            >img{
                                width: auto;
                                object-fit: cover;
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 20px;
                            }
                            >p{
                                font: 400 14px/1.7 'suit';
                                color: #333;
                                margin-left: 10px;
                                text-align: center;
                                >span{
                                    color: #bf9b81;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}