body {
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

#contents {
  width: 100%;
  padding-top: 100px;
}
#contents .inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
#contents .inner .explan {
  width: 100%;
}
#contents .inner .explan::after {
  content: "";
  display: block;
  clear: both;
}
#contents .inner .explan .txtWrap {
  float: left;
}
#contents .inner .explan .txtWrap > h2 {
  font: 200 56px/1.5 "suit";
  color: #000;
  margin-bottom: 30px;
}
#contents .inner .explan .txtWrap > h2 > span {
  font-weight: 700;
}
#contents .inner .explan .txtWrap > h2::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c5a58d;
}
#contents .inner .explan .txtWrap > p {
  font: 300 18px/1 "suit";
  color: #999999;
}
#contents .inner .explan .iconWrap {
  width: 800px;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
#contents .inner .explan .iconWrap article {
  width: 50%;
  float: left;
  padding: 50px 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
}
#contents .inner .explan .iconWrap article::after {
  content: "";
  display: block;
  clear: both;
}
#contents .inner .explan .iconWrap article .img {
  width: auto;
  height: 100%;
  float: left;
}
#contents .inner .explan .iconWrap article .img > img {
  width: auto;
  object-fit: cover;
  margin-right: 50px;
  float: left;
}
#contents .inner .explan .iconWrap article .txt {
  width: auto;
  height: 100%;
  padding-right: 50px;
}
#contents .inner .explan .iconWrap article .txt > h3 {
  font: 700 28px/1 "suit";
  color: #000;
  margin-bottom: 20px;
}
#contents .inner .explan .iconWrap article .txt p {
  font: 400 18px/1.5 "suit";
  color: #333;
  opacity: 0.6;
}
#contents .inner .explan .iconWrap article:nth-of-type(1), #contents .inner .explan .iconWrap article:nth-of-type(2) {
  padding-top: 0;
}
#contents .inner .explan .iconWrap article:nth-of-type(5), #contents .inner .explan .iconWrap article:nth-of-type(6) {
  border: none;
}
#contents .inner .explan::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
#contents .inner .profile {
  width: 100%;
  padding-bottom: 220px;
  padding-top: 80px;
}
#contents .inner .profile .info {
  position: relative;
  width: 100%;
}
#contents .inner .profile .info > .title {
  margin-bottom: 80px;
  position: relative;
}
#contents .inner .profile .info > .title > p {
  font: 300 24px/1 "suit";
  color: #000;
  margin-bottom: 30px;
}
#contents .inner .profile .info > .title > h4 {
  font: 100 80px/1 "suit";
  color: #000;
}
#contents .inner .profile .info > .title > h4 > span {
  font-weight: 700;
}
#contents .inner .profile .info > .title > h4::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c5a58d;
}
#contents .inner .profile .info > .list::after {
  content: "";
  display: block;
  clear: both;
}
#contents .inner .profile .info > .list .history {
  float: left;
}
#contents .inner .profile .info > .list .history::after {
  content: "";
  display: block;
  clear: both;
}
#contents .inner .profile .info > .list .history .bar {
  width: 7px;
  height: 23px;
  background-color: #c5a58d;
  margin-right: 10px;
  float: left;
}
#contents .inner .profile .info > .list .history h5 {
  font: 600 26px/23px "suit";
  color: #c5a58d;
  margin-bottom: 45px;
  float: left;
}
#contents .inner .profile .info > .list .history ul {
  width: 100%;
  float: left;
  margin-left: 20px;
}
#contents .inner .profile .info > .list .history ul li {
  list-style-type: disc;
  padding-bottom: 30px;
  font: 400 18px/1 "suit";
  color: #333;
}
#contents .inner .profile .info > .list .history ul li::marker {
  color: #c5a58d;
}
#contents .inner .profile .info > .list .active {
  float: left;
  margin-left: 70px;
}
#contents .inner .profile .info > .list .active::after {
  content: "";
  display: block;
  clear: both;
}
#contents .inner .profile .info > .list .active .bar {
  width: 7px;
  height: 23px;
  background-color: #c5a58d;
  margin-right: 10px;
  float: left;
}
#contents .inner .profile .info > .list .active h5 {
  font: 600 26px/23px "suit";
  color: #c5a58d;
  margin-bottom: 45px;
  float: left;
}
#contents .inner .profile .info > .list .active ul {
  width: 100%;
  margin-left: 20px;
  float: left;
}
#contents .inner .profile .info > .list .active ul li {
  list-style-type: disc;
  padding-bottom: 30px;
  font: 400 18px/1 "suit";
  color: #333;
}
#contents .inner .profile .info > .list .active ul li::marker {
  color: #c5a58d;
}
#contents .inner .profile .person {
  position: absolute;
  right: -200px;
  bottom: -10px;
}
#contents .inner .profile .person img {
  width: auto;
  object-fit: cover;
  filter: drop-shadow(21px 0px 40px rgba(0, 0, 0, 0.2));
}

@media all and (max-width: 1200px) {
  #contents {
    width: 100%;
    padding-top: 100px;
    padding: 100px 50px 0 50px;
  }
  #contents .inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #contents .inner .explan {
    width: 100%;
  }
  #contents .inner .explan .txtWrap {
    width: 30%;
    float: left;
  }
  #contents .inner .explan .txtWrap > h2 {
    font: 200 45px/1.5 "suit";
    color: #000;
    margin-bottom: 30px;
  }
  #contents .inner .explan .txtWrap > h2 > span {
    font-weight: 700;
  }
  #contents .inner .explan .txtWrap > h2::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .explan .txtWrap > p {
    font: 300 18px/1 "suit";
    color: #999999;
  }
  #contents .inner .explan .iconWrap {
    width: 65%;
    float: right;
    display: flex;
    flex-wrap: wrap;
  }
  #contents .inner .explan .iconWrap article {
    width: 50%;
    float: left;
    padding: 50px 0;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  }
  #contents .inner .explan .iconWrap article::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .explan .iconWrap article .img {
    width: auto;
    height: 100%;
    float: left;
  }
  #contents .inner .explan .iconWrap article .img > img {
    width: auto;
    object-fit: cover;
    margin-right: 50px;
    float: left;
  }
  #contents .inner .explan .iconWrap article .txt {
    width: auto;
    height: 100%;
    padding-right: 50px;
  }
  #contents .inner .explan .iconWrap article .txt > h3 {
    font: 700 24px/1 "suit";
    color: #000;
    margin-bottom: 20px;
  }
  #contents .inner .explan .iconWrap article .txt p {
    font: 400 16px/1.5 "suit";
    color: #333;
    opacity: 0.6;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(1), #contents .inner .explan .iconWrap article:nth-of-type(2) {
    padding-top: 0;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(5), #contents .inner .explan .iconWrap article:nth-of-type(6) {
    border: none;
  }
  #contents .inner .explan::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  #contents .inner .profile {
    width: 100%;
    padding-bottom: 150px;
    padding-top: 80px;
  }
  #contents .inner .profile .info {
    position: relative;
    width: 100%;
  }
  #contents .inner .profile .info > .title {
    margin-bottom: 80px;
    position: relative;
  }
  #contents .inner .profile .info > .title > p {
    font: 300 22px/1 "suit";
    color: #000;
    margin-bottom: 30px;
  }
  #contents .inner .profile .info > .title > h4 {
    font: 100 60px/1 "suit";
    color: #000;
  }
  #contents .inner .profile .info > .title > h4 > span {
    font-weight: 700;
  }
  #contents .inner .profile .info > .title > h4::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .profile .info > .list::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .profile .info > .list .history {
    float: left;
  }
  #contents .inner .profile .info > .list .history h5 {
    font: 600 26px/23px "suit";
    color: #c5a58d;
    margin-bottom: 45px;
  }
  #contents .inner .profile .info > .list .history ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .history ul li {
    list-style-type: disc;
    padding-bottom: 30px;
    font: 400 18px/1 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .history ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active {
    float: left;
    margin-left: 70px;
  }
  #contents .inner .profile .info > .list .active h5 {
    font: 600 26px/23px "suit";
    color: #c5a58d;
    margin-bottom: 45px;
  }
  #contents .inner .profile .info > .list .active ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .active ul li {
    list-style-type: disc;
    padding-bottom: 30px;
    font: 400 18px/1.5 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .active ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active ul li:last-child {
    width: 70%;
  }
  #contents .inner .profile .person {
    position: absolute;
    right: -230px;
    bottom: -10px;
  }
  #contents .inner .profile .person img {
    width: 80%;
    object-fit: cover;
    filter: drop-shadow(21px 0px 40px rgba(0, 0, 0, 0.2));
  }
}
@media all and (max-width: 1024px) {
  #contents {
    width: 100%;
    padding-top: 100px;
    padding: 100px 50px 0 50px;
  }
  #contents .inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #contents .inner .explan {
    width: 100%;
  }
  #contents .inner .explan .txtWrap {
    width: 35%;
    float: left;
  }
  #contents .inner .explan .txtWrap > h2 {
    font: 200 35px/1.5 "suit";
    color: #000;
    margin-bottom: 10px;
  }
  #contents .inner .explan .txtWrap > h2 > span {
    font-weight: 700;
  }
  #contents .inner .explan .txtWrap > h2::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .explan .txtWrap > p {
    font: 300 14px/1.5 "suit";
    color: #999999;
  }
  #contents .inner .explan .iconWrap {
    width: 60%;
    float: right;
    display: flex;
    flex-wrap: wrap;
  }
  #contents .inner .explan .iconWrap article {
    width: 100%;
    float: left;
    padding: 50px 0;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  }
  #contents .inner .explan .iconWrap article::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .explan .iconWrap article .img {
    width: auto;
    height: 100%;
    float: left;
  }
  #contents .inner .explan .iconWrap article .img > img {
    width: auto;
    object-fit: cover;
    margin-right: 50px;
    float: left;
  }
  #contents .inner .explan .iconWrap article .txt {
    width: auto;
    height: 100%;
    padding-right: 50px;
  }
  #contents .inner .explan .iconWrap article .txt > h3 {
    font: 700 24px/1 "suit";
    color: #000;
    margin-bottom: 20px;
  }
  #contents .inner .explan .iconWrap article .txt p {
    font: 400 16px/1.5 "suit";
    color: #333;
    opacity: 0.6;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(2) {
    padding-top: 50px;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(5) {
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6)::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6) .txt {
    padding-right: 100px;
  }
  #contents .inner .explan::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  #contents .inner .profile {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 80px;
  }
  #contents .inner .profile .info {
    position: relative;
    width: 100%;
  }
  #contents .inner .profile .info > .title {
    margin-bottom: 80px;
    position: relative;
  }
  #contents .inner .profile .info > .title > p {
    font: 300 20px/1 "suit";
    color: #000;
    margin-bottom: 30px;
  }
  #contents .inner .profile .info > .title > h4 {
    font: 100 50px/1 "suit";
    color: #000;
  }
  #contents .inner .profile .info > .title > h4 > span {
    font-weight: 700;
  }
  #contents .inner .profile .info > .title > h4::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .profile .info > .list::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .profile .info > .list .history {
    width: 100%;
    float: left;
  }
  #contents .inner .profile .info > .list .history h5 {
    font: 600 26px/23px "suit";
    color: #c5a58d;
    margin-bottom: 45px;
  }
  #contents .inner .profile .info > .list .history ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .history ul li {
    list-style-type: disc;
    padding-bottom: 30px;
    font: 400 18px/1 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .history ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-top: 80px;
  }
  #contents .inner .profile .info > .list .active h5 {
    font: 600 26px/23px "suit";
    color: #c5a58d;
    margin-bottom: 45px;
  }
  #contents .inner .profile .info > .list .active ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .active ul li {
    list-style-type: disc;
    padding-bottom: 30px;
    font: 400 18px/1.5 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .active ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active ul li:last-child {
    width: 50%;
  }
  #contents .inner .profile .person {
    position: absolute;
    right: -230px;
    bottom: -10px;
  }
  #contents .inner .profile .person img {
    width: 80%;
    object-fit: cover;
    filter: drop-shadow(21px 0px 40px rgba(0, 0, 0, 0.2));
  }
}
@media all and (max-width: 768px) {
  #contents {
    width: 100%;
    padding-top: 100px;
    padding: 100px 50px 0 50px;
  }
  #contents .inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #contents .inner .explan {
    width: 100%;
  }
  #contents .inner .explan .txtWrap {
    width: 100%;
    float: left;
  }
  #contents .inner .explan .txtWrap > h2 {
    font: 200 40px/1.5 "suit";
    color: #000;
    margin-bottom: 10px;
  }
  #contents .inner .explan .txtWrap > h2 > span {
    font-weight: 700;
  }
  #contents .inner .explan .txtWrap > h2::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .explan .txtWrap > p {
    font: 300 16px/1.5 "suit";
    color: #999999;
  }
  #contents .inner .explan .iconWrap {
    width: 100%;
    margin-top: 80px;
    float: right;
    display: flex;
    flex-wrap: wrap;
  }
  #contents .inner .explan .iconWrap article {
    width: 100%;
    float: left;
    padding: 50px 0;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  }
  #contents .inner .explan .iconWrap article::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .explan .iconWrap article .img {
    width: auto;
    height: 100%;
    float: left;
  }
  #contents .inner .explan .iconWrap article .img > img {
    width: auto;
    object-fit: cover;
    margin-right: 50px;
    float: left;
  }
  #contents .inner .explan .iconWrap article .txt {
    width: auto;
    height: 100%;
    padding-right: 50px;
  }
  #contents .inner .explan .iconWrap article .txt > h3 {
    font: 700 24px/1 "suit";
    color: #000;
    margin-bottom: 10px;
  }
  #contents .inner .explan .iconWrap article .txt p {
    font: 400 16px/1.5 "suit";
    color: #333;
    opacity: 0.6;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(2) {
    padding-top: 50px;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(5) {
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6)::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6) .txt {
    padding-right: 100px;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6) .txt p {
    word-spacing: -1px;
  }
  #contents .inner .explan::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  #contents .inner .profile {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 80px;
  }
  #contents .inner .profile .info {
    position: relative;
    width: 100%;
  }
  #contents .inner .profile .info > .title {
    margin-bottom: 50px;
    position: relative;
  }
  #contents .inner .profile .info > .title > p {
    font: 300 20px/1 "suit";
    color: #000;
    margin-bottom: 30px;
  }
  #contents .inner .profile .info > .title > h4 {
    font: 100 50px/1 "suit";
    color: #000;
  }
  #contents .inner .profile .info > .title > h4 > span {
    font-weight: 700;
  }
  #contents .inner .profile .info > .title > h4::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .profile .info > .list::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .profile .info > .list .history {
    width: 100%;
    float: left;
  }
  #contents .inner .profile .info > .list .history h5 {
    font: 600 26px/23px "suit";
    color: #c5a58d;
    margin-bottom: 35px;
  }
  #contents .inner .profile .info > .list .history ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .history ul li {
    list-style-type: disc;
    padding-bottom: 20px;
    font: 400 18px/1 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .history ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-top: 40px;
  }
  #contents .inner .profile .info > .list .active h5 {
    font: 600 26px/23px "suit";
    color: #c5a58d;
    margin-bottom: 35px;
  }
  #contents .inner .profile .info > .list .active ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .active ul li {
    list-style-type: disc;
    padding-bottom: 20px;
    font: 400 18px/1.5 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .active ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active ul li:last-child {
    width: 100%;
  }
  #contents .inner .profile .person {
    position: absolute;
    right: -230px;
    bottom: -10px;
    display: none;
  }
  #contents .inner .profile .person img {
    width: 80%;
    object-fit: cover;
    filter: drop-shadow(21px 0px 40px rgba(0, 0, 0, 0.2));
  }
}
@media all and (max-width: 479px) {
  #contents {
    width: 100%;
    padding-top: 100px;
    padding: 100px 25px 0 25px;
  }
  #contents .inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #contents .inner .explan {
    width: 100%;
  }
  #contents .inner .explan .txtWrap {
    width: 100%;
    float: left;
  }
  #contents .inner .explan .txtWrap > h2 {
    font: 200 40px/1.5 "suit";
    color: #000;
    margin-bottom: 10px;
  }
  #contents .inner .explan .txtWrap > h2 > span {
    font-weight: 700;
  }
  #contents .inner .explan .txtWrap > h2::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .explan .txtWrap > p {
    font: 300 16px/1.5 "suit";
    color: #999999;
  }
  #contents .inner .explan .iconWrap {
    width: 100%;
    margin-top: 80px;
    float: right;
    display: flex;
    flex-wrap: wrap;
  }
  #contents .inner .explan .iconWrap article {
    width: 100%;
    float: left;
    padding: 50px 0;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  }
  #contents .inner .explan .iconWrap article::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .explan .iconWrap article .img {
    width: auto;
    height: 100%;
    float: left;
  }
  #contents .inner .explan .iconWrap article .img > img {
    width: auto;
    object-fit: cover;
    margin-right: 50px;
    float: left;
  }
  #contents .inner .explan .iconWrap article .txt {
    width: auto;
    height: 100%;
    padding-right: 50px;
  }
  #contents .inner .explan .iconWrap article .txt > h3 {
    font: 700 24px/1 "suit";
    color: #000;
    margin-bottom: 10px;
  }
  #contents .inner .explan .iconWrap article .txt p {
    font: 400 16px/1.5 "suit";
    color: #333;
    opacity: 0.6;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(2) {
    padding-top: 50px;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(5) {
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6)::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6) .txt {
    padding-right: 10%;
  }
  #contents .inner .explan .iconWrap article:nth-of-type(6) .txt p {
    word-spacing: -1px;
  }
  #contents .inner .explan::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  #contents .inner .profile {
    width: 100%;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  #contents .inner .profile .info {
    position: relative;
    width: 100%;
  }
  #contents .inner .profile .info > .title {
    margin-bottom: 50px;
    position: relative;
  }
  #contents .inner .profile .info > .title > p {
    font: 300 20px/1 "suit";
    color: #000;
    margin-bottom: 20px;
  }
  #contents .inner .profile .info > .title > h4 {
    font: 100 42px/1 "suit";
    color: #000;
  }
  #contents .inner .profile .info > .title > h4 > span {
    font-weight: 700;
  }
  #contents .inner .profile .info > .title > h4::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5a58d;
  }
  #contents .inner .profile .info > .list::after {
    content: "";
    display: block;
    clear: both;
  }
  #contents .inner .profile .info > .list .history {
    width: 100%;
    float: left;
  }
  #contents .inner .profile .info > .list .history h5 {
    font: 600 20px/23px "suit";
    color: #c5a58d;
    margin-bottom: 35px;
  }
  #contents .inner .profile .info > .list .history h5::target-text {
    padding-bottom: 5px;
  }
  #contents .inner .profile .info > .list .history ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .history ul li {
    list-style-type: disc;
    padding-bottom: 20px;
    font: 400 16px/1 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .history ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-top: 40px;
  }
  #contents .inner .profile .info > .list .active h5 {
    font: 600 20px/23px "suit";
    color: #c5a58d;
    margin-bottom: 35px;
  }
  #contents .inner .profile .info > .list .active ul {
    margin-left: 20px;
  }
  #contents .inner .profile .info > .list .active ul li {
    list-style-type: disc;
    padding-bottom: 20px;
    font: 400 16px/1.5 "suit";
    color: #333;
  }
  #contents .inner .profile .info > .list .active ul li::marker {
    color: #c5a58d;
  }
  #contents .inner .profile .info > .list .active ul li:last-child {
    width: 100%;
  }
  #contents .inner .profile .person {
    position: absolute;
    right: -230px;
    bottom: -10px;
    display: none;
  }
  #contents .inner .profile .person img {
    width: 80%;
    object-fit: cover;
    filter: drop-shadow(21px 0px 40px rgba(0, 0, 0, 0.2));
  }
}

/*# sourceMappingURL=introduce.css.map */
